@import "variables";

.message-input {
    padding: $common-space;

    &__btn-emoji {
        i {
            font-size: larger;
            color: $color-red;
        }
    }
}

:host {
    ::ng-deep {
        .message-input {
            textarea {
                $adjusted-top: 7px;

                padding-top: $adjusted-top;
                border-radius: $common-border-radius;
                min-height: $large-size;
                resize: none;
            }
        }
    }
}
