/* You can add global styles to this file, and also import other style files */
.bg-black {
    background-color: black;
}

.text-white {
    color: white;
}

.line-wrap {
    white-space: pre-line;
    word-break: break-all;
}

.ant-btn-icon-only {
    .anticon {
        position: relative;
        left: 1px;
    }
}
