@import "variables";

.login,
.guest-login {
    &__title {
        background-color: $color-primary;
        padding: $common-space;
        text-align: center;
        h1 {
            color: $color-white;
            margin: 0;
        }
    }
    &__container {
        text-align: center;
    }
}

.login {
    &__container {
        #firebaseui-auth-container {
            display: inline-block;
        }
    }
}
